//custom colors
$custom-color-1:#381a06;
/*RIPE OLIVE*/
$custom-color-2:#601300;
/*NAVAL*/
$custom-color-3: #c53200;
/*SLEEPY BLUE*/
$custom-color-4: #eea800;
/*TASSEL*/
$custom-color-5: #f4eaac;
/*ENDLESS SEA*/
$custom-color-6: #2da4a8;
/*CAVERN CLAY*/

$header-height: 85px;
$tabs-height: 70px;


//color variables
$primary-color: $custom-color-3;
$secondary-color: $custom-color-4;
$primary-bg-color:$custom-color-5;
$secondary-bg-color: $custom-color-6;

//button variables
$primary-button-color: $primary-color;
$primary-button-color-hover: lighten($primary-color, 10%);
$secondary-button-color: $secondary-color;
$secondary-button-color-hover: lighten($secondary-color, 10%);
$text-color-button: $custom-color-6;

//text variables
$text-font: 'Open Sans',
sans-serif;
$header-font: 'Amatic SC',
cursive;
$primary-text-color: $custom-color-1;
$secondary-text-color: $custom-color-2;

//event variables
$main-color-hover: lighten($primary-color, 20%);
$main-border-color: $custom-color-3;
$main-border-radius: 10px;

//margin and padding
$main-margin: 2rem;
$main-padding: 5rem;