@import "base/variables";
@import "base/buttons";
@import "base/text";

body {
    margin: 0;
    font-family: $text-font;
    background-color: $primary-bg-color;



    header {
        background-color: $primary-color;
        color: $primary-text-color;
        height: $header-height;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100vw;

        img {
            width: 65px;
        }
    }

    nav {
        background-color: $secondary-bg-color;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: $tabs-height;
        text-align: center;

        .nav-button {
            opacity: 0.8;
            transform: scale(0.9);
            transition: opacity 120ms, transform 120ms ease-out;

            &.active {
                opacity: 1;
                transform: scale(1);
            }

            .icon {
                i {
                    font-size: 10vw;
                }
            }

            .icon-title {
                display: none;
            }
        }
    }

    .main-content {
        height: calc(100vh - #{$header-height + $tabs-height});
        display: grid;
        grid-template-columns: repeat(4, 100vw);
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        top: 85px;
        position: relative;

        .page {
            scroll-snap-align: start;
        }
    }
}

/*end body*/